{
  "extends": "airbnb",
  "env": {
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "indent": ["error", 4],
    "id-length": 0,
    "react/jsx-indent": [2, 4]
  }
}
